/*
font-family: 'Roboto', sans-serif;
font-family: 'Shadows Into Light', cursive;
font-family: 'Indie Flower', cursive;
font-family: 'Satisfy', cursive;
font-family: 'Caveat', cursive;
font-family: 'Barriecito', cursive;
font-family: 'Shadows Into Light Two', cursive;
font-family: 'Rock Salt', cursive;
font-family: 'Lacquer', sans-serif;

*/

* {
    box-sizing: border-box;
}
  
*, *:before, *:after {
    box-sizing: inherit;
}

*, body {
    font-size: 16px;
    font-weight: 200;
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;
}

html, body {
    height: 100%;
    box-sizing: border-box;
}

main {
    height: 100%;
    position: relative;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

.container {
    padding: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    line-height: 1em;
}

h1 {
    font-size: 1.5em;
    font-family: 'Mountains of Christmas', cursive;
    font-weight: 600;
}

section {
    min-height: 200px;
    padding: 6% 0;
    background-color: #bbb;
}

section:nth-child(even) {
    background-color: #ddd
}

.notebook-pic {
    height: 100%;
    background-color: white;
    padding: 4em 0;
}

.notebook-pic div {
    height: 100%;
    background-image: url(images/notebook-pic-mobile.png);
    background-size: cover;
    background-position: bottom;
    margin: 0;
}

header {
    text-align: center;
    font-size: 2em;
}

footer ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

footer li {
    margin: 0 0 0 1em;
}

footer a:link, footer a:visited {
    color: black;
}

.inline-block {
    display: inline-block;
}

.copyright {
    position: relative;
    bottom: .5em;
}

.large {
    display: none;
}

@media screen and (min-width: 800px) {

    .large {
        display: initial;
    }

    .top-nav-bar .container {
        height: 125px;
    }

    .container {
        max-width: 683px;
        margin: 0 auto;
    }

    .logo {
        font-size: 1.5em;
    }

    .top-nav-bar ul {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    .top-nav-bar li, .logo {
        color: white;
        text-shadow: 0 1px 0 black;
    }

    .top-nav-bar li, footer li {
        margin: 0 0 0 1.5em;
    }

    .notebook-pic {
        height: 100%;
        background-image: url(images/IMG_2382_JPG.webp);
        background-size: cover;
        background-position: center;
        margin: 0;
        padding: 0;
    }

    .small {
        display: none;
    }

}